{% extends 'base.html' %}
{% block title %}Trainer Attendance{% endblock %}

{% block page_script %}
    document.body.classList.add('login-page');
{% endblock %}

{% block content %}
<h1>Trainer Attendance - {{ today }}</h1>
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>Trainer Name</th>
            <th>Present</th>
        </tr>
        {% for trainer in trainers %}
        <tr>
            <td>{{ trainer.first_name }} {{ trainer.last_name }}</td>
            <td><input type="checkbox" name="trainer_{{ trainer.id }}" checked></td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn">Mark Attendance</button>
</form>
<div style="margin: 40px; ">
    <a href="{% url 'attendance_history' %}" class="btn btn-primary">
        📊 All Attendance History
    </a>
</div>
<a href="/admin_portal" class="btn">Back to Admin Portal</a>
{% endblock %}
